.coolstuff{
  font-style: italic;
  color:red;
  text-align: center;
}

#thestart{
  color: rgb(153, 51, 153);
  font-size: 200%;
  text-align: center;
}

.intro{
  border: 2px outset blue;
  font-size: 300%;
  text-align: center;
  font-family:impact, Charcoal, sans-serif;	

}

#chairs{
  font-style: italic;
  color:blue;
  font-size: 250%;
}

#Changesize {
  font-family: "Oswald", sans-serif;
  color: green;
  font-size: 220%;
  text-decoration: underline;
}

#Games {
  color: #FFFF99;
}


#photo1 {
  border: 3px ridge #8AC001;
}

#photo2 {
  background-position: center; 
  border: 3px dotted red;
}

#photo3 {
  float:right;
  border: 4px inset lightblue;
}

#photo4 {
  border: 3px inset red;
}

#link1 {
  font-size: 150%;
}

.title1 {
  font-family:"Oswald", sans-serif;
  color: gray;
  text-decoration: underline;
}

body {
  background-color: rgb(50,205,50);
}

ul{
  color: rgb(204, 0, 0);
  font-size: 200%;
  font-family: Georgia, serif;
}

.cool{
  color: black;
  font-size: 250%;
}